:root {
  --clr-primary-400: hsl(211, 100%, 16%);
  --clr-primary-300: hsl(220, 40%, 35%);
  --clr-semi-primary-300: hsl(220 40% 35% / .7);
  --clr-primary-200: hsl(224, 47%, 70%);
  --clr-neutral-900: hsl(60, 28%, 92%);
  --clr-red: hsl(16, 88%, 69%);
  --clr-green: hsl(154, 47%, 66%);
  --clr-yellow: hsl(63, 74%, 69%);

  --ff-maven: 'Maven Pro', sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --fs-400: 1.5rem;
  --fs-500: 2.2rem;
  --fs-600: 3.3rem;
  --fs-700: 4.8rem;
  --fs-800: 6.8rem;

  --size-25: 5px;
  --size-50: 10px;
  --size-100: calc(var(--size-50) * 2);
  --size-200: calc(var(--size-100) * 2);
  --size-300: calc(var(--size-200) * 2);
  --size-350: calc(var(--size-300) * 1.5);
  --size-400: calc(var(--size-300) * 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  width: 100%;
}

body {
  font-size: 18px;
  font-family: var(--ff-maven);
  font-size: var(--fs-400);
  min-height: 100vh;
  line-height: 1.6;
  text-align: center;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-900);
}

main {
  margin-top: var(--size-200);
}

footer {
  margin-top: var(--size-200);
}

.header {
  font-size: var(--fs-700);
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-300);
}

.container {
  width: min(100% - 2rem, 40rem);
  margin-inline: auto;
  display: grid;
  gap: 1rem;
}

.btn {
  width: var(--size-400);
  background-color: var(--clr-primary-200);
  border-radius: 5px;
  transition: 0.3s ease-out;
  border: none;
}
.btn + .btn {
  margin-inline-start: var(--size-100);
}
.btn:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.btn:active {
  background-color: var(--clr-primary-300);
}
.score {
  font-size: var(--fs-600);
}

.result-wrapper {
  height: 18rem;
  border: solid var(--size-25) var(--clr-neutral-900);
  overflow-y: scroll;
}

.result-header {
  background-color: var(--clr-primary-300);
}
.results-list {
  display: flex;
  flex-direction: column-reverse;
}
.winner {
  display: none;
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-800);
  font-weight: var(--fw-700);
  height: 0;
  width: 100%;
  background-color: var(--clr-semi-primary-300);
  backdrop-filter: blur(5px);
  z-index: -999;
}
div.winner.show {
  z-index: 999;
  height: 100vh;
}